body {
    margin: 60px auto;
    width: 70%;
	background-image: url("/css/rain.jpg");
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	padding: 8px 0 8px 8px;
    list-style: none;
    font-weight: bold;
}
nav ul li{
    display: inline;
	text-align: center;
    margin-left: 40px;
	
}
footer ul li {
    display: inline;
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: #976;
}

a.active { 	padding: 8px 8px 8px 8px;
			color: black;
			background:#D8D8D8;
			}

nav li:hover {
	background-color: #B8B8B8 
}
li :hover{
	background-color: #E8E8E8
}

nav ul {
    border: 4px solid #909090;
    background-color: #f3f3f3;
}

li a {
    color:#100000;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Comic Sans MS', cursive, sans-serif;
}
h3 {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family:'Comic Sans MS', cursive, sans-serif;
	color: #0066FF;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
