---
layout: pingpong
title: Stolný tenis
---
<div id="blurb">

<ul class="posts">
	<h1> Ladislav Gáspár </h1>
	<div class="thumbnail">
         <a href="/pingpong/oci.JPG"><img alt="" src="/pingpong/oci.JPG" height="240" width="290"></a>
      </div>
	<p> Môj otec je paralympijský víťaz v stolnom tenise v roku 2004 v Aténach. </p>
	
	  {% for post in site.posts %}
	  <li>Pokračuj na blog» <a href="{{ post.url }}" title="{{ post.title }}"><b>{{ post.title }}</b></a></li>
	  {% endfor %}
	</ul>
	{% assign wordCount = page.content | number_of_words %}
	{% if wordCount > 250 %} 
	<h3>{{ wordCount | divided_by: 180 | append: " minút/minúty na prečítanie" }}</h3>
	{% else %}
	<h3> Prečítať stránku trvá pár sekúnd. </h3>
	{% endif %}
</div>