<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Domov</a></li>
	        	<li><a href="/skola">Škola</a></li>
        		<li><a href="/cv" class="active">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
				<li><a href="/fotky">Fotky</a></li>
				<li><a href="/pingpong">PingPong</a></li>
        		<li><a href="/Webove-publikovanie">Webové_publikovanie</a></li>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
    		<div class="blurb">
        		
				<footer>
    		<!--  Nothing  -->
		</footer>
		{{ content }}
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<!--  Nothing  -->
		</footer>
	</body>
</html>