<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link href="/css/main.css" rel="stylesheet" type="text/css" >
		<link href="/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/Untitled1.css" rel="stylesheet">
		<link href="/css/index.css" rel="stylesheet">
		<script src="jquery-1.11.3.min.js"></script>
		<script src="wb.animatetext.min.js"></script>
	</head>
	<body>
	
		<nav>
    		<ul>
			
        		<li><a href="/" class="active">Domov</a></li>
	        	<li><a href="/skola">Škola</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
				<li><a href="/fotky">Fotky</a></li>
				<li><a href="/pingpong">PingPong</a></li>
        		<li><a href="/Webove-publikovanie">Webové_publikovanie</a></li>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
    		<div class="blurb">
        		
    		</div><!-- /.blurb -->
		</div><!-- /.container -->

	</body>
</html>
