<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
        		<li><a href="/Webove-publikovanie">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
    		<div class="blurb">
        		
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:astraltravel007@gmail.com">email-to-gmail</a></li>
        		<li><a href="https://github.com/mg-24">github.com/mg-24</a></li>
			</ul>
		</footer>
	</body>
</html>
