<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Domov</a></li>
	        	<li><a href="/skola">Škola</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
				<li><a href="/fotky" class="active">Fotky</a></li>
				<li><a href="/pingpong">PingPong</a></li>
        		<li><a href="/Webove-publikovanie">Webové_publikovanie</a></li>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
    		<div class="blurb">
        		
		</ul>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<ul id="Pagination1">
		<li class="disabled" style="position:absolute;left:10px;top:500px;"><a href="/blog">&laquo; Prev</a></li>
		
		<li class="disabled" style="position:absolute;right:60px;top:500px;"><a href="/pingpong">Next &raquo;</a></li>
		<!--footer>
    		
		</footer-->
	</body>
</html>
