<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/cv.css">
		<link href="/css/Untitled2.css" rel="stylesheet">
		<link href="/css/youtube.css" rel="stylesheet">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Domov</a></li>
	        	<li><a href="/skola">Škola</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog" >Blog</a></li>
				<li><a href="/fotky">Fotky</a></li>
				<li><a href="/pingpong" class="active">PingPong</a></li>
        		<li><a href="/Webove-publikovanie">Webové_publikovanie</a></li>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
    		<div class="blurb">
        		
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<ul id="Pagination1">
		<li class="disabled" style="position:absolute;left:10px;top:750px;"><font size="6"><a href="/fotky">&laquo; Späť</a></font></li>
		
		<li class="disabled" style="position:absolute;right:60px;top:750px;"><font size="6"><a href="/Webove-publikovanie">Ďalej &raquo;</a></font></li>
		<footer>
    		<!--  Nothing  -->
		</footer>
	</body>
</html>