<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Domov</a></li>
	        	<li><a href="/skola" class="active">Škola</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
				<li><a href="/fotky">Fotky</a></li>
				<li><a href="/pingpong">PingPong</a></li>
        		<li><a href="/Webove-publikovanie">Webové_publikovanie</a></li>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
    		<div class="blurb">
        		
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<ul id="Pagination1">
		<li class="disabled" style="position:absolute;left:10px;top:400px;"><a href="/">&laquo; Prev</a></li>
		
		<li class="disabled" style="position:absolute;right:60px;top:400px;"><a href="/cv">Next &raquo;</a></li>
		<footer>
    		<ul>
        		<li><a href="mailto:astraltravel007@gmail.com">{{site.email}}</a></li>
        		<li><a href="https://github.com/mg-24">GiThub - profil</a></li>
			</ul>
		</footer>
	</body>
</html>
